.main-sc { width: 100%; height: calc(100vh - 139px); } 
.main-sc .inner { display: flex; flex-direction: column; justify-content: space-between; } 
.main-sc .description { display: flex; justify-content: space-between; padding-top: 1.11em; padding-bottom: 5.56em; text-transform: uppercase; } 
.main-sc .description > * { flex: 1; } 
.main-sc .description .owners { font-size: 2.2vw; line-height: 1; } 
.main-sc .description .stardust { max-width: 22vw; text-align: center; color: var(--gray-color); line-height: 1.3; } 
.main-sc .description .img-wrapper { display: flex; justify-content: flex-end; align-items: flex-start; } 
.main-sc .description .img-wrapper img { width: 26.66px; } 
.main-sc .main-title { font-size: 10.8vw; text-align: center; line-height: 0.95; text-transform: uppercase; } 

.projects-sc { margin: 200px 0; } 
.projects-sc::before { display: block; width: 97vw; height: 1px; margin: 0 auto; background-color: var(--main-color); content: ''; } 
.projects-sc .top-area { display: flex; justify-content: space-between; padding-top: 1.11em; padding-bottom: 5.56em; } 
.projects-sc .top-area > * { flex: 1; } 
.projects-sc .top-area .title { font-size: 2.2vw; line-height: 1; text-transform: uppercase; } 
.projects-sc .top-area .img-wrapper { display: flex; justify-content: flex-end; align-items: flex-start; } 
.projects-sc .top-area .img-wrapper img { width: 26.66px; } 

.project { display: flex; } 
.project .number { width: 7vw; text-align: right; padding-right: 1.1vw; color: var(--gray-color); } 
.project .left-area { display: flex; justify-content: center; align-items: center; position: relative; opacity: 0; width: 22vw; transition: all 0.4s cubic-bezier(0.4,0,0,1); } 
.project .left-area.on { opacity: 1; } 
.project .left-area .img-wrapper { width: 11vw; aspect-ratio: 1; } 
.project .left-area .img-wrapper img { width: 100%; height: 100%; } 
.project .content-box { position: relative; flex: 1; } 
.project .content-box .square-wrapper { display: flex; flex-direction: column; position: absolute; top: 1.6vw; right: 1.6vw; gap: 0.2vw; } 
.project .content-box .square-wrapper .square { width: 0.555vw; border: 1px solid var(--gray-color); aspect-ratio: 1; } 
.project .content-box .plus { position: absolute; bottom: 1.1vw; left: 1.1vw; font-size: 1.1vw; color: var(--gray-color); } 
.project .content-box .content-inner { padding: 2em 2em 6.63em; } 
.project .content-box .content-inner .title { overflow: hidden; font-size: 5.5vw; text-transform: uppercase; line-height: 1; } 
.project .content-box .content-inner .title span { display: inline-block; width: 100%; height: 100%; } 
.project .content-box a:hover .content-inner .title span { animation: titleAnimation 0.4s cubic-bezier(0.4,0,0,1) forwards; } 
.project .content-box .content-inner .content { display: flex; justify-content: space-between; position: relative; padding-top: 1.31em; } 
.project .content-box .content-inner .content::before { display: block; position: absolute; width: 100%; height: 1px; background-color: var(--secondary-color); content: ''; } 
.project .content-box .content-inner .content > p { padding-top: 1.31em; } 
.project .content-box .content-inner .content .more { display: flex; gap: 5px; color: var(--main-color); text-transform: uppercase; } 
.project .content-box .content-inner .content .more::after { display: block; width: 26.66px; height: 26.66px; background: url("../images/arrow.svg") no-repeat center / cover; content: ''; } 

@keyframes titleAnimation { 
 0% { color: var(--secondary-color); transform: none; } 
 50% { color: var(--secondary-color); transform: translate3d(0, 90%, 0); } 
 51% { color: var(--main-color); transform: translate3d(0, 90%, 0); } 
 100% { color: var(--main-color); transform: none; } 
 } 