/* 공통 */
.top-area { display: flex; justify-content: space-between; position: relative; padding-top: 1.11em; padding-bottom: 5.56em; } 
.top-area .title { flex: 1; font-size: 2.2vw; line-height: 1; text-transform: uppercase; } 
.top-area .img-wrapper { width: 26.66px; height: 26.66px; } 
.top-area .img-wrapper img { width: 100%; height: 100%; } 

.intro-sc { width: 100%; height: calc(100vh - 139px); } 
.intro-sc .inner { display: flex; flex-direction: column; justify-content: space-between; height: calc(100vh - 139px); } 
.intro-sc .top-area .icon { display: flex; justify-content: center; align-items: center; position: absolute; right: 19vw; width: 12.5vw; height: 12.5vw; } 
.intro-sc .description { padding-bottom: 20em; font-size: 1vw; } 
.intro-sc .infinite-slide { display: flex; overflow: hidden; } 
.intro-sc .infinite-slide .slide-title { display: flex; font-size: 10.8vw; line-height: 1; text-transform: uppercase; gap: 1vw; animation: infiniteSlide 30s linear infinite; will-change: transform; } 
.intro-sc .infinite-slide .slide-title span { } 

@keyframes infiniteSlide { 
 0% { transform: translateX(0%); } 
 100% { transform: translateX(-50%); -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); } 
 }

 .work-sc { margin: 200px 0; } 
 .work-sc::before { display: block; width: 97vw; height: 1px; margin: 0 auto; background-color: var(--main-color); content: ''; } 
 .work-sc .schedule { font-size: 1.2vw; } 
 .work-sc .swiper { display: flex; flex-direction: column; } 
 .work-sc .swiper .btn-area { display: flex; justify-content: flex-end; width: 100%; height: 8.3vw; margin-bottom: 4.6vw; } 
 .work-sc .swiper .btn-area button { display: flex; justify-content: center; align-items: center; position: relative; width: 12vw; overflow: hidden; } 
 .work-sc .swiper .btn-area button img { width: 106.66px; height: 122.66px; transition: transform 0.6s cubic-bezier(0.4,0,0,1); -webkit-transition: transform 0.6s cubic-bezier(0.4,0,0,1); -moz-transition: transform 0.6s cubic-bezier(0.4,0,0,1); -ms-transition: transform 0.6s cubic-bezier(0.4,0,0,1); -o-transition: transform 0.6s cubic-bezier(0.4,0,0,1); } 
 .work-sc .swiper .btn-area button .second { position: absolute; } 
 .work-sc .swiper .btn-area .btn-prev { transform: scaleX(-1); -webkit-transform: scaleX(-1); -moz-transform: scaleX(-1); -ms-transform: scaleX(-1); -o-transform: scaleX(-1); } 
 .work-sc .swiper .btn-area .btn-prev .second { transform: translateX(-200%); -webkit-transform: translateX(-200%); -moz-transform: translateX(-200%); -ms-transform: translateX(-200%); -o-transform: translateX(-200%); } 
 .work-sc .swiper .btn-area .btn-prev:hover .first { transform: translateX(200%); -webkit-transform: translateX(200%); -moz-transform: translateX(200%); -ms-transform: translateX(200%); -o-transform: translateX(200%); } 
 .work-sc .swiper .btn-area .btn-prev:hover .second { transform: translateX(0); -webkit-transform: translateX(0); -moz-transform: translateX(0); -ms-transform: translateX(0); -o-transform: translateX(0); } 
 .work-sc .swiper .btn-area .btn-next .second { transform: translateX(-200%); -webkit-transform: translateX(-200%); -moz-transform: translateX(-200%); -ms-transform: translateX(-200%); -o-transform: translateX(-200%); } 
 .work-sc .swiper .btn-area .btn-next:hover .first { transform: translateX(200%); -webkit-transform: translateX(200%); -moz-transform: translateX(200%); -ms-transform: translateX(200%); -o-transform: translateX(200%); } 
 .work-sc .swiper .btn-area .btn-next:hover .second { transform: translateX(0); -webkit-transform: translateX(0); -moz-transform: translateX(0); -ms-transform: translateX(0); -o-transform: translateX(0); } 

 .work-sc .swiper .swiper-wrapper .swiper-slide { position: relative; width: auto; max-width: 50%; padding: 1.1vw; border-radius: 16px; background-color:#191919; cursor: pointer; } 
 .work-sc .swiper .swiper-wrapper .swiper-slide h4 { padding-bottom: 1.1vw; } 
 .work-sc .swiper .swiper-wrapper .swiper-slide img { border-radius: 16px; } 
 .work-sc .swiper .swiper-wrapper .swiper-slide .description { position: absolute; bottom: 0; right: 1.1vw; font-size: 6vw; } 
 .work-sc .swiper .swiper-wrapper .swiper-slide .description span { vertical-align: bottom; } 
 .work-sc .swiper .popup-wrapper { display: none; position: fixed; top: 50%; left: 50%; width: auto; height: auto; z-index: 1; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); } 
 .work-sc .swiper .popup-wrapper.on { display: flex; justify-content: center; align-items: center; } 
 .work-sc .swiper .popup-wrapper > * { width: 100%; height: auto; max-height: 80vh; object-fit: cover; } 

 .page-sc { padding-bottom: 100px; } 
 .page-sc .inner { display: flex; gap: 1.1vw; } 
 .page-sc .page-box { display: flex; flex-direction: column; justify-content: space-between; width: 50%; height: 30vw; padding: 1.1vw; border-radius: 1.6vw; background-color: var(--secondary-color); color: #000; } 
 .page-sc .page-box .page-title { display: flex; justify-content: space-between; line-height: 1; } 
 .page-sc .page-box .page-title .number { font-size: 10.8vw; } 
 .page-sc .page-box .page-title .title { max-width: 19vw; font-size: 2.2vw; text-align: right; text-transform: uppercase; } 
 .page-sc .page-box .description { } 
 .page-sc .page-box .description::before { display: block; width: 100%; height: 1px; margin-top: -4vw; margin-bottom: 1vw; background-color: #000; content: ''; } 
 .page-sc .page-box .page-bottom { display: flex; justify-content: flex-end; } 
 .page-sc .page-box .page-bottom a { display: flex; justify-content: center; align-items: center; position: relative; width: 11.8vw; height: 8.3vw; overflow: hidden; } 
 .page-sc .page-box .page-bottom a img { width: 106.66px; height: 122.66px; transition: transform 0.6s cubic-bezier(0.4,0,0,1); -webkit-transition: transform 0.6s cubic-bezier(0.4,0,0,1); -moz-transition: transform 0.6s cubic-bezier(0.4,0,0,1); -ms-transition: transform 0.6s cubic-bezier(0.4,0,0,1); -o-transition: transform 0.6s cubic-bezier(0.4,0,0,1); } 
 .page-sc .page-box .page-bottom a .second { position: absolute; transform: translateX(-200%); -webkit-transform: translateX(-200%); -moz-transform: translateX(-200%); -ms-transform: translateX(-200%); -o-transform: translateX(-200%); } 
 .page-sc .page-box .page-bottom a:hover .first { transform: translateX(200%); -webkit-transform: translateX(200%); -moz-transform: translateX(200%); -ms-transform: translateX(200%); -o-transform: translateX(200%); } 
 .page-sc .page-box .page-bottom a:hover .second { transform: translateX(0); -webkit-transform: translateX(0); -moz-transform: translateX(0); -ms-transform: translateX(0); -o-transform: translateX(0); } 
 .page-sc .page-box .page-bottom .border-wrapper .border { color: #000; } 

